:root{
    --accent: #3b82f6;
}

*{
    font-family: 'Roboto';
}

body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

.main-container{
    display: grid;
    height: 100vh;
    column-gap: 3rem;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: 'title section-title'
                        'side-bar book-card-section';
    grid-template-rows: 1fr 4fr;
    overflow-y: auto;
}

.side-bar{
    grid-area: side-bar;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    justify-content: stretch;
    align-items: center;
    grid-auto-flow: row;
    grid-template-rows: 1fr 3fr;
    padding-top: 3rem;
}

.title{
    grid-area: title;
    font-size: 4rem;
    color: white;
    background-color: black;
    text-align: center;
    align-self: stretch;
    align-content: center;
    padding: 0.5rem;
    margin: 0;
    border-right: 2px solid black;
}

.progress{
    display: flex;
    width: 1fr;
    padding: 0 1rem;
    gap: 1rem;
    flex-direction: column;
    align-items: end;
}

#progress-bar-border{
    border-radius: 1rem; 
    width: 100%;
    height: 30px;
    box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.4),
    0 2px 6px rgba(0, 0, 0, 0.3);
    background: #eee;
    overflow: hidden;
}

#progress-bar-fill{
    width: 0%;
    background: var(--accent);
    height: 100%;
    border-radius: inherit;
    margin: inherit;
}

.form-container{
    grid-area: 'form-container';
}

dialog:not([open]) {
    display: none;
}

dialog{
    border: none;
    border-radius: 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

dialog::backdrop{
    backdrop-filter: blur(8px);
}

.form{
    width: 100%;
    margin: 1rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

input{
    margin-bottom: 1.5rem;
    height: 2rem;

    outline: none;
    border: 1px solid rgb(214, 214, 214);

    padding-left: 1rem;
    font-size: 1rem;

    background: #f3f3f3;
}

input:focus{
    box-shadow: 0 0 0 2px var(--accent);
}

input{
    border-radius: 30px;
    height: 3rem;
}

.button{
    border: 2px solid var(--accent);
    display: flex;

    padding: 1rem 0rem;
    
    justify-content: center;
    align-self: start;
    align-items: center;
    justify-self: center;
    cursor: pointer;

    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    width: 60%;
}

#submit-book{
    align-self: center;
    width: 50%;
}

.button, .read-button{
    border-radius: 4px;
}

.button:hover{
    transform: scale(1.03);
    transition: 0.1s ease;
}

.close{
    position: absolute;
    top: 15px;
    right: 25px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.close:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

label{
    font-weight: 500;
    margin-bottom: 0.5rem;
}


#book-card-section{
    grid-area: book-card-section;
    margin: 0;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    align-items: stretch;
    gap: 3rem;
    overflow-y: auto;
}

.section-title{
    grid-area: section-title;
    color: black;
    margin: 0;
    align-self: center;
    font-size: 3rem;
    font-weight: 900;
    padding: 0 3rem;
}

.book-card{
    border: none;
    border-left: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    padding: 2rem;
    position:relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

}

.button-container, .book-info-container{
    flex: 1;
}

.book-info-container{
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.5rem;
    max-height: 10rem;
    min-height: 3rem;
    overflow-y: auto;
    width: 100%;
    justify-content: stretch;
    align-content: center;
}

.book-author, .book-title{
    margin: 0;
    overflow-wrap: anywhere;
    width: 100%;
}

.book-title{
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    align-self: end;
}

.book-author{
    max-height: 2rem;
    color: gray;
    text-transform: capitalize;
    font-weight: 300;
}

.read-button{
    background-color: black;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    border-radius: px;
    width: 8rem;
    cursor: pointer;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remove-button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    font-size: 1.2rem;
}

.remove-button:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#fraction{
    font-size: 1rem;
    color: gray;
    font-weight: 800;
}