*{
    font-family: 'Roboto';
}

body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

.main-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'side-bar book-card-section';
    grid-template-rows: auto;
}

.side-bar{
    grid-area: 'side-bar';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}



.title{
    font-size: 4rem;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 3rem;
}

.progress{
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: end;
}
/* 
#fraction{
    display: none;
} */

#progress-bar-border{
   border: 1px solid gray;
   border-radius: 1rem; 
    width: 100%;
    height: 1rem;
    margin-bottom: 5rem;
}

#progress-bar-fill{
    width: 25%;
    background-color: gray;
    height: 100%;
    border-radius: inherit;
}

.form-container{
    grid-area: 'form-container';
    border: 1px solid green;
}

dialog:not([open]) {
    display: none;
}

dialog{
    border: none;
    border-radius: 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

dialog::backdrop{
    backdrop-filter: blur(8px);
}

.form{
    width: 100%;
    margin: 1rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

input{
    margin-bottom: 1.5rem;
    height: 2rem;

    outline: none;
    border: 1px solid rgb(214, 214, 214);

    padding-left: 1rem;
    font-size: 1rem;

    background: #f3f3f3;
}

input:focus{
    box-shadow: 0 0 0 2px #3b82f6;
}

.button, input{
    border-radius: 30px;
    height: 3rem;
}

.button{
    border: 2px solid gray;
    display: flex;

    margin: 1rem auto;
    padding: 0.7rem 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: white;
    color: black;
}

.button:hover{
    transform: scale(1.03);
    transition: 0.1s ease;
}

.close{
    position: absolute;
    top: 15px;
    right: 25px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.close:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.button{
    font-size: 1rem;
    font-weight: 500;
}

label{
    font-weight: 500;
    margin-bottom: 0.5rem;
}


#book-card-section{
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 200px);
    align-items: stretch;
    gap: 1rem;
    overflow-y: scroll;
}

.book-card{
    border: none;
    border-left: 10px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    padding: 2rem;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container, .book-info-container{
    flex: 1;
}

.book-info-container{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2rem;
    overflow-wrap: anywhere;
}

.book-author, .book-title{
    margin: 0;
}



.book-card button:not(.remove-button){
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    max-width: 50%;
    min-width: 100px;
    cursor: pointer;
    margin-top: 1rem;
    height: 30px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.book-title{
    font-size: 1.2rem;
    font-weight: 500;
}

.book-author{
    color: gray;
}

.remove-button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    font-size: 1.2rem;
}

.remove-button:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease;
}